<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <title>Show Posts</title>
</head>
<body class="d-flex flex-column">
<!--<header th:replace="/partials :: header"></header>-->
<!--<nav class="pb-3" th:replace="/partials :: navbar" ></nav>-->
<div class="container d-flex flex-column flex-grow-1">
  <div class="alert alert-danger" th:if="${errMsg}">
    error
  </div>
  <h1>posts</h1>
  <div class="row h-100 align-content-center my-auto pb-3">
    <div class="col-sm-12 col-md-6 g-3"  th:each="post : ${posts}">
      <div class="card shadow h-100" style="">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title" th:text="${post.title}">post title</h5>
          <div class="blog-menu small-title date" th:text="${post.date}"></div>
          <div class="blog-detail">
            <span th:text="${post.user.username}"></span>
          </div>
          <div class="blog-article">
            <p class="" th:text="${post.body}">post body</p>
          </div>
          <a class="btn btn-outline-secondary me-auto mt-auto" th:href="@{|/posts/${post.id}|}">more</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<!--  <footer th:replace="partials ::footer"></footer>-->
</html>